<header class="header">
    <div class="container">
        <div class="header__box">
            <div class="header__logo-box">
                <img src="assets/images/img/logo.png" alt="" class="header__logo" />
				<span class="header__logo-text">
					Logo
				</span>
            </div>

            <div class="header__wrap-right">
                <div class="header__menu">{{> menu}}</div>
                <button class="header__button button">Get Started</button>
            </div>
        </div>
    </div>
</header>
